**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/Dockerfile.dev
**/obj
**/secrets.dev.yaml
**/secrets.yaml
**/settings.dev.yaml
**/settings.yaml
**/README.md
**/.idea
**/.trae