<div class="skeleton">
    <div class="skeleton__row">
        <div class="skeleton__bar skeleton__bar--short"></div>
        <div class="skeleton__bar skeleton__bar--long"></div>
        <div class="skeleton__bar skeleton__bar--medium"></div>
    </div>
    <div class="skeleton__row">
        <div class="skeleton__bar skeleton__bar--medium"></div>
        <div class="skeleton__bar skeleton__bar--long"></div>
        <div class="skeleton__bar skeleton__bar--short"></div>
    </div>
    <div class="skeleton__row">
        <div class="skeleton__bar skeleton__bar--long"></div>
        <div class="skeleton__bar skeleton__bar--short"></div>
        <div class="skeleton__bar skeleton__bar--medium"></div>
    </div>
</div>
