@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: #f1f5f9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
